.name-rating-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap; 
  
}
.Edit-delete-container{

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
    flex-wrap: wrap; 
}

.MovieContainer{
    display: flex;
    flex-direction: column;
    width: 280px ;    
    height: min-content;
    gap: 10px;
    flex-wrap: wrap;
    padding: 2px;
    justify-content: center;

}

img{
    width: 260px;
    height: 350px;
}